<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="exampleModalLabel"><h4>Thông tin hội đồng</h4></div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-4">
                        <h6>Mã hội đồng: </h6>
                    </div>
                    <div class="col-8">
                        <p id="code"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <h6>Tên hội đồng: </h6>
                    </div>
                    <div class="col-8">
                        <p id="name"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <h6>Niên khóa: </h6>
                    </div>
                    <div class="col-8">
                        <p id="shool_year"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <h6>Thành viên: </h6>
                    </div>
                    <div class="col-8" id="thanhvien">

                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <h6>Trạng thái: </h6>
                    </div>
                    <div class="col-8">
                        <p id="is_block"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <h6>Mô tả: </h6>
                    </div>
                    <div class="col-8">
                        <p id="decs"></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>

