@{
    ViewBag.Title = "Trang quản trị";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}


<<div class="content-body">
    <div class="container-fluid">
        Hello admin 
    </div>
</div>