@{
    var session = (QuanLyKhoaLuan.Common.UserLogin)Session[QuanLyKhoaLuan.Common.CommonConstants.USER_SESSION];
}

<div class="header">
    <div class="header-content">
        <nav class="navbar navbar-expand">
            <div class="collapse navbar-collapse justify-content-between">
                <div class="header-left">

                </div>
                <ul class="navbar-nav header-right">
                    @if (session != null)
                        {
                    <li class="nav-item dropdown header-profile">
                        @session.full_name
                    </li>
                    <li class="nav-item dropdown header-profile">
                        <a class="nav-link" href="#" role="button" data-toggle="dropdown">
                            <img class="avatar-header" src="@session.avatar"/>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="@Url.Action("Info","HomeLecture")" class="dropdown-item">
                                <i class="icon-user"></i>
                                <span class="ml-2">Thông tin </span>
                            </a>
                            <a href="@Url.Action("ChangePassword", "HomeLecture")" class="dropdown-item">
                                <i class="icon-key"></i>
                                <span class="ml-2">Đổi mật khẩu </span>
                            </a>
                            <a href="~/Login/Logout" class="dropdown-item">
                                <i class="fa-solid fa-right-from-bracket"></i>
                                <span class="ml-2">Đăng xuất </span>
                            </a>
                        </div>
                    </li>
                    }
                </ul>
            </div>
        </nav>
    </div>
</div>
