
@{
    var session = (QuanLyKhoaLuan.Common.UserLogin)Session[QuanLyKhoaLuan.Common.CommonConstants.USER_SESSION];
}

<div class="quixnav">
    <div class="quixnav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a class="" href="@Url.Action("Index", "Home")">
                    <i class="icon fa-solid fa-table-columns"></i><span class="">Bảng điều khiển</span>
                </a>
            </li>

            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon icon-single-04"></i><span class="nav-text">Khóa luận hướng dẫn</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="@Url.Action("Index", "InstructionalThesis")">Danh sách khóa luận</a></li>
                </ul>
            </li>

            <li>
                <a class="has-arrow" href="javascript:void()" aria-expanded="false">
                    <i class="icon fa-solid fa-user"></i><span class="nav-text">Hội đồng</span>
                </a>
                <ul aria-expanded="false">
                    <li><a href="@Url.Action("Index", "CouncilLecture")">Danh sách hội đồng</a></li>
                </ul>
            </li>

        </ul>
    </div>
</div>