<!-- Modal -->
<div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title" id="exampleModalLabel"><h4>Thông tin khóa luận</h4></div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-4">
                        <h6>Mã khóa luận: </h6>
                    </div>
                    <div class="col-8">
                        <p id="code"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <h6>Tên đề tài: </h6>
                    </div>
                    <div class="col-8">
                        <p id="topic_name"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <h6>Thời gian hoàn thành: </h6>
                    </div>
                    <div class="col-8">
                        <p id="date"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <h6>Thời gian nộp đề cương: </h6>
                    </div>
                    <div class="col-8">
                        <p id="date_outline"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <h6>Thời gian nộp khóa luận: </h6>
                    </div>
                    <div class="col-8">
                        <p id="date_thesis"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <h6>Niên khóa: </h6>
                    </div>
                    <div class="col-8">
                        <p id="school_year"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <h6>Bộ môn: </h6>
                    </div>
                    <div class="col-8">
                        <p id="major"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <h6>Hội đồng chấm thi: </h6>
                    </div>
                    <div class="col-8">
                        <p id="council"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <h6>Giảng viên hướng dẫn: </h6>
                    </div>
                    <div class="col-8">
                        <p id="lecturer"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <h6>Đề cương: </h6>
                    </div>
                    <div class="col-8" id="file_outline">
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <h6>Khóa luận: </h6>
                    </div>
                    <div class="col-8">
                        <p id="file_thesis"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <h6>Tình trạng: </h6>
                    </div>
                    <div class="col-8" id="iS_status" >
                      
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <h6>Tổng điểm: </h6>
                    </div>
                    <div class="col-8">
                        <p id="total_score"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <h6>Kết quả: </h6>
                    </div>
                    <div class="col-8">
                        <p id="result"></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                </div>
            </div>
        </div>
    </div>
</div>