
/*Admin*/
img.avatar_user_index {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}


img.col-12.avatar-upload {
    height: 350px;
}

img.avatar-info.img-fluid.rounded-circle {
    width: 150px;
    height: 150px;
}

img.avatar-header {
    height:40px !important;
    width: 40px !important;

}

li.nav-item.dropdown.header-profile {
    font-size: 17px;
    font-weight: 400;
}

.p-bt90 {
    padding: 30px;
}

.text-red{
    color:red;
}

img.img-detail-avatar {
    width: 120px;
    height: 120px;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

i.fa-solid.fa-file-excel {
    font-size: 50px;
}

table.table.student-data-table.m-t-20.table_color {
    color: black;
}